body, html {
	background-color: #002650;
	color: #fff;
	font:  14px "Tahoma", sans-serif;
}

#searchform > div  {
  position: relative;
}
#searchform >div .zoomicon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

}



#searchform input {
	outline: none; 
	font:  inherit;
	border:  1px solid #ccc;
		height: 20px;
	padding: 5px 10px;
	width: 200px;
}

::-webkit-input-placeholder {
   color: blue;
}

.tt-hint {
  color: red;
}

.tt-input{
	width:  200px;
	/*background-color: #ffe;*/
	height: 20px;
	padding: 5px 10px;
}


.tt-input:focus { 	}

.tt-menu {
	width:  220px;
	border: 1px solid #ccc;
	border-top: 0;
	
}

.tt-suggestion {
	margin:  0px;
	cursor: pointer;
	padding: 0 10px;
}

.tt-suggestion.tt-cursor { background-color: #ccc; padding: 0 10px;}


