body, html {
	margin: 0;
	background-color: #002650;
	color: #fff;
	font:  14px Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#searchform > div  {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
#searchform >div > img {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 4px;
  width: 30px;
}

#searchform input {
	background-color: rgba(255, 255, 255, 0.3);
	outline: none; 
	font:  inherit;
	border:  0px;
	height: 20px;
	padding: 15px 10px;
	padding-left: 40px;
	width: 90%;
	border-radius: 4px;
}

::-webkit-input-placeholder {
   color: #fff;
}

.twitter-typeahead{
     width: 100%;
}
.tt-hint {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.4;
}

.tt-input{
	width:  90%;
	color: #fff;
	/*background-color: #ffe;*/
	height: 20px;
	padding: 5px 10px;
}


.tt-menu {
	width:  100%;
	border: 0;
	border-top: 0;
	background: white;
	color: black;
	
}

.tt-suggestion {
	margin:  0px;
	cursor: pointer;
	padding: 0 10px;
}

.tt-suggestion.tt-cursor { background-color: #ccc; padding: 0 10px;}


